@using System.Xml
@using AutoMapper

@if(Originator != null)
{
    <h5 class="tLabel2">@Localizer.Str["Cases_AddMessage_Creator"]</h5>
    <div class="top_blue_bg"></div>


    <table class="table table-borderless table-sm">              
        <tbody class="itemDetail">
            <tr>                  
                <td>
                    @if (@ShowCheckBox)
                    {
                        <SfCheckBox @bind-Checked="@Originator.Selected" Label="@Originator.USERNAME"></SfCheckBox>
                    }
                    else
                    {
                        @Originator.USERNAME
                    }

                </td>                                 
            </tr>        
        </tbody>
    </table>

}        
        


@code {

    [Inject] private CommonLocalizationService Localizer { get; set; }
    [Inject] private IMapper _mapper { get; set; }

    [Parameter] public CaseOriginatorSelectable Originator { get; set; }
    [Parameter] public string CaseDataXML { get; set; }
    [Parameter] public bool ShowCheckBox { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Originator = _mapper.Map<CaseOriginatorSelectable>(GetCaseOriginator(CaseDataXML));
    }

    


    protected CaseOriginator GetCaseOriginator(string CaseData)
    {
        XmlDocument doc = new XmlDocument();
        doc.LoadXml(CaseData);
        XmlElement root = doc.DocumentElement;
        var benutzerNode = root.SelectSingleNode("/Root/Tran/BENUTZER");

        var benutzerXml = benutzerNode?.OuterXml;
        var originator = benutzerXml?.FromXml<CaseOriginator>("BENUTZER");
        return originator;

    }
}
