@using System.Xml
@using AutoMapper
@using static HCMModels.CaseModel

@if(Source != null)
{
    <h5 class="tLabel2">@Localizer.Str["Cases_AddMessage_Creator"]</h5>
    <div class="top_blue_bg"></div>


    <table class="table table-borderless table-sm">              
        <tbody class="itemDetail">
            <tr>                  
                <td>
                    @if (@ShowCheckBox)
                    {
                        <SfCheckBox @bind-Checked="@Source.Selected" Label="@Source.USERNAME"></SfCheckBox>
                    }
                    else
                    {
                        @Source.USERNAME
                    }

                </td>                                 
            </tr>        
        </tbody>
    </table>

}        
        


@code {

    [Inject] private CommonLocalizationService Localizer { get; set; }
    [Inject] private IMapper _mapper { get; set; }

    [Parameter] public CaseOriginatorSelectable Source { get; set; }
    [Parameter] public bool ShowCheckBox { get; set; }

}
