@page

@model HCM.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}



<div class="container-fluid">
    <div class="col-md-6">
        <h1>@Model._commonLocalizer.Str["Login_TitleText"]</h1>
        <hr />
        
        <section>
            <form class="row g-3" id="account" method="post">
                @*<h5>@Model._commonLocalizer["Login_TitleText"]</h5>*@
                

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-12">
                    <label asp-for="Input.Culture" class="form-label"></label>
                    <select asp-for="Input.Culture" asp-items="Model.AvailableCultures" class="form-control" ></select>
                    <span asp-validation-for="Input.Culture" class="text-danger"></span>
                </div>

                
                <div class="col-md-12">
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>


                <div class="col-md-12">
                    <button id="login-submit" type="submit" class="btn btn-main">@Model._commonLocalizer.Str["Login_ButtonText"]</button>
                </div>
            </form>
        </section>
    </div>
</div>
