@page "/Reports/DashBoard"
@attribute [Authorize]
@using System.Globalization



<h3>@Localizer["Reports_Title"]</h3>


<CaseFilter InputModel="@InputFilter" Culture="@CurrentCulture" OnValidSubmit="ShowReport"></CaseFilter>


<DashGrid InputFilter="@SubmitedFilter" ContactId="CurrentContactId" ></DashGrid>




@code {

    [Inject] private IStringLocalizer<App> Localizer { get; set; }

    [CascadingParameter(Name = "CurrentContactId")] protected int CurrentContactId { get; set; }


    protected CaseFilterModel InputFilter { get; set; }
    protected CaseFilterModel SubmitedFilter { get; set; }
    protected string CurrentCulture { get; set; }

    protected override void OnInitialized()
    {
        InputFilter = new CaseFilterModel(showStatus:false, showResult:false);        
        CurrentCulture = CultureInfo.CurrentCulture.Name;
        ShowReport(InputFilter);
    }

    protected void  ShowReport(CaseFilterModel filter)
    {
        SubmitedFilter = ObjHelper.Clone<CaseFilterModel>(filter);       

    }

    protected void ShowCaseDetails(int caseId)
    {
        
    }


}
