@using HCMApi
    
        <h5 class="tLabel">@Localizer["Cases_Detail_Label_Users"]</h5>
        <div class="top_blue_bg"></div>
    
        
        <table class="table table-striped table-sm mb-5">              
            <tbody class="itemDetail">
            @if(Source?.Count > 0)
            {
                @foreach (CaseContact c in Source)
                {
                    <tr>                  
                        <td>@c.Name (@c.Function)</td>                                 
                    </tr>
                    <tr>                  
                        <td align="right">(@c.ProfileRole)</td>                                 
                    </tr>          
                }
            }
            </tbody>
        </table>
        

    
         


@code {
    
    [Inject] private IStringLocalizer<App> Localizer { get; set; }

    
    [Parameter] public List<CaseContact> Source { get; set; }
    
    
}
