
    
        <h5 class="tLabel">@Localizer["Cases_Detail_Label_History"]</h5>
        <div class="top_blue_bg"></div>
    
        
           


@code {
    
    [Inject] private IStringLocalizer<App> Localizer { get; set; }

    
    
    
}
