@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}
body {
    padding-top: 200px;
    padding-bottom: 40px;
}

.bg-dark {
    background-color: rgb(64,0,0) !important;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    /*height: 3rem;*/
    display: flex;
    align-items: center;
    /*line-height: 3rem;*/
    margin-top: 8px;
}

    .nav-item a.active {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

    /*.nav-item a:hover {
        background-color: rgba(255,255,255,0.2);
        color: white;
    }*/
.nav-item-set a {
    background-color: rgba(255,255,255,0.2);
    color: white;
    border-radius: 4px;
    /*height: 3rem;*/
    display: flex;
    align-items: center;
    /*line-height: 3rem;*/
    /*margin-top: 12px;*/
}
.profile-menu-item-while {
    background-color: #598992;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
    .profile-menu-item-while .profileLink {
        color: white !important;
    }
.profile-menu-item-normal {
    background-color: #FFFFFF;
}

    .profile-menu-item-normal .profileLink {
        color: #1a535d !important;
    }



/*.profileLinkWhite {
    color: #FFFFFF !important;
}
.profileLink {
    color: #1a535d !important;
}*/

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (min-width: 768px) {

    .navbar-toggler {
        display: none;
    }
}

/****************************************************** 
UI
******************************************************/
.row_padding {
    padding-bottom: 5px !important;
}
.row_padding_left {
    padding-left: 30px !important;
}
.control_padding {
    padding-left: 0px !important;
    padding-right: 5px !important;
}
.control_padding_dropcown {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.blue_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/bg-title.png);
    /*padding: 5px 0px 0px 5px;*/
    height: 25px;
}
.bottom_blue_bg {
    background-repeat: repeat-x;
    background-position: bottom;
    background-image: url(../images/subMenuBg2.gif);
    /*padding: 4px 5px 3px 5px;*/
    height: 25px;
}
.top_blue_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/subMenuBg3.gif);
    /*padding: 10px 5px 3px 5px;*/
    height: 25px;
}
.tLabel {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    /*padding-left: 5px;*/
}

.subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    padding-top: 5px;
}
.e-grid .e-rowcell {
    font-size: 12px !important;
    padding: 2px 6px !important;
}
.e-grid .e-headercelldiv {
    font-size: 12px !important;
    padding: 0 0 !important;
}
.ReportHeader {
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    color: #1A525D;
    background-color: #BDD4D8;
}
.ReportItem, .ReportItem a {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    height: 20px;
    text-decoration: none;
    padding-left: 6px;
    padding-top: 2px;
    color: #1A525D !important;
    display: block;
}
.ReportItemNormal {
    font-size: 12px;
    font-weight: normal;
    padding-right: 5px;
    text-align: right !important;
}
a.ReportItemNormal {
    color: #1A525D !important;
    text-decoration: underline;
}
.nav-item a {
    height: 2rem !important;
}
.title {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    vertical-align: middle;
}
.subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    padding-top: 5px;
}
.e-btn.e-icon-btn, .e-css.e-btn.e-icon-btn {
    padding: 2px 4px !important;
}
.e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
    font-size: 12px !important;
}
.e-pager .e-spacing, .e-pager .e-numericitem:hover, .e-pager .e-currentitem {
    padding: 5px 5px 5px 5px !important;
}

.mylabel-left {
    align-items: left !important;
    justify-content: left !important;
}
.e-thumbnail:before {
    content: '\e7b4';
}
.profilWizadrdMenu {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    padding-left: 5px;
}
.profilWizadrdText {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    padding-left: 5px;
}

.e-icons-hcm {
    font-size: 18px;
    font-family: 'e-icons';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    margin-right:5px;
}
.e-hcm-search:before {
    content: '\e724';
    color: #ffffff;
}
.e-hcm-login:before {
    content: '\e778';
    color: #ffffff;
}
.e-hcm-logout:before {
    content: '\e709';
    color: #ffffff;
}
.e-hcm-save:before {
    content: '\e74d';
    color: #ffffff;
}
.e-hcm-edit:before {
    content: '\e78f';
    color: #ffffff;
}
.e-hcm-delete:before {
    content: '\e773';
    color: #ffffff;
}

.form_name {
    font-size: 12px;
    color: #298083;
    font-weight: bold;
}

.itemDetail {
    font-weight: normal;
    /*padding-left: 5px;*/
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.itemDetail2 {
    font-weight: bold;
    padding-left: 0px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}


a.btnAddMessage {
    background-repeat: no-repeat;
    background-image: url(/images/copy_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 14px;
}
a.btnAddUser {
    background-repeat: no-repeat;
    background-image: url(/images/user_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 14px;
}
a.btnUpdate {
    background-repeat: no-repeat;
    background-image: url(/images/save_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 14px;
}
a.btnAddAlias {
    background-repeat: no-repeat;
    background-image: url(/images/edit_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 14px;
}
.bottom_line_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/subMenuBg2.gif);
    padding: 4px 5px 3px 5px;
    height: 25px;
}
.tLabel2 {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    padding-left: 5px;
    font-weight: bold;
}

.tLabel3 {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    padding-left: 5px;
    text-align: justify;
}
.e-custom-height {
    height: 150px;
    width: 200px;
}
.e-upload .e-file-select-wrap {
    padding: 0px !important;
}

/****************************************************** 
CHECKBOX LIST VIEW
******************************************************/
.e-listview.e-control {
    width: 100% !important;
}
.e-listview {
    border: 0px !important;
}
    .e-listview .e-list-item {
        height: 26px !important;
        padding: 0px !important;
        font-size: 10px !important;
        border: 0px !important;
    }

/****************************************************** 
NEW USER
******************************************************/
.tLabelDisabled {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #1A525D;
    padding-left: 5px;
}
.tbTitle {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 15px;
}

    .tbTitle th {
        padding-left: 5px;
        text-align: left;
        font-weight: normal;
        color: #FFF;
        border-width: 1px;
        border-collapse: collapse;
        border-bottom-color: #FFF;
        border-bottom-style: solid;
        height: 20px;
        background-color: #346C77;
        text-decoration: none;
    }

    .tbTitle td {
        padding-left: 5px;
        color: #000;
        border-width: 1px;
        border-collapse: collapse;
        border-bottom-color: #FFF;
        border-bottom-style: solid;
        height: 20px;
        text-decoration: none;
    }
.tbTitle td.disabledtext {
    padding-left: 5px;
    color: #666;
    border-width: 1px;
    border-collapse: collapse;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    height: 20px;
    text-decoration: none;
}

.tbTitle th.disabledtext {
    padding-left: 5px;
    color: #FFF;
    border-width: 1px;
    border-collapse: collapse;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    height: 20px;
    text-decoration: none;
}



.bg-info {
    background-color: #1a535d !important;
}
.bg-secondary {
    background-color: #1a535d !important;
}

.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
    background-color: #1a535d !important;
    border-color: #f8f9fa !important;
    color: #fff !important;
}
.e-btn.e-flat, .e-css.e-btn.e-flat {
    background-color: #1a535d !important;
    border-color: #f8f9fa !important;
    box-shadow: none;
    color: #fff !important;
}
.e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
    font-size: 10px !important;
}
.nav-item a {
    height: 1.5rem !important;
}
.e-grid .e-unboundcelldiv > button {
    margin: 0 0px !important;
}
.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
    background: #1a535d !important;
    color: #fff !important;
    opacity: 1;
}
.e-pager .e-numericitem {
    background: #fff;
    border-right-color: #ddd;
    color: #1a535d !important;
}
.e-pager .e-currentitem  {
    color: #fff !important;
}
.e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
    width: 2em !important;
}
.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    bottom: 2px;
    float: right;
    height: 28px !important;
    left: 0;
    position: relative;
    width: 28px !important;
}
.e-icon-dlg-close {
    color: #fff !important;
}
.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: #1a535d !important;
    border-color: #1a535d !important;
    color: #fff;
}
.LoginViewName {
    color: #fff;
    font-size: 14px;
}
a.btnShowMatch {
    color: #1a535d !important;
    text-decoration: underline !important;
    background-color: transparent;
}
.e-listview .e-list-item.e-focused,
.e-listview .e-list-item.e-focused.e-active.e-checklist {
    background-color: #fff !important;
    color: #1a535d !important;
}
.e-listview .e-list-item {
    font-size: 12px !important;
}

.e-hcm-custom-btn {
    border-radius: 0;
    height: 30px !important;
    width: 280px !important;
}
.e-hcm-custom-textarea {
    line-height: 1.5;
    min-height: 100px !important;
}

.bottom_blue_bg_2 {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/subMenuBg.jpg);
    padding: 0px 0px 10px 5px;
    
    height: 25px;
}
.e-hcm-statusInRole {
    text-decoration: none;
    color: #006800;
    text-align: center;
    padding-left: 15px;
    padding-top: 2px;
}

.e-hcm-statusNotInRole {
    text-decoration: none;
    color: #ff0000;
    text-align: center;
    padding-left: 15px;
    padding-top: 2px;
}
.e-btn.e-user-in-role-flat, .e-css.e-btn.e-user-in-role-flat {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    box-shadow: none;
    color: #fff !important;
}
.e-btn.e-user-not-in-role-flat, .e-css.e-btn.e-user-not-in-role-flat {
    background-color: #006800 !important;
    border-color: #006800 !important;
    box-shadow: none;
    color: #fff !important;
}



