@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}
body {
    padding-top: 50px;
    padding-bottom: 40px;
}


.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (min-width: 768px) {

    .navbar-toggler {
        display: none;
    }
}

/****************************************************** 
UI
******************************************************/
.row_padding {
    padding-bottom: 5px !important;
}
.row_padding_left {
    padding-left: 30px !important;
}
.control_padding {
    padding-left: 0px !important;
    padding-right: 5px !important;
}
.control_padding_dropcown {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.blue_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/bg-title.gif);
    padding: 5px 0px 0px 5px;
}
.bottom_blue_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/subMenuBg.jpg);
    padding: 4px 5px 3px 5px;
    height: 25px;
}
.top_blue_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/subMenuBg3.gif);
    padding: 10px 5px 3px 5px;
    height: 25px;
}
.tLabel {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    padding-left: 5px;
}

.subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    padding-top: 5px;
}
.e-grid .e-rowcell {
    font-size: 12px !important;
    padding: 2px 6px !important;
}
.e-grid .e-headercelldiv {
    font-size: 12px !important;
    padding: 0 0 !important;
}
.ReportHeader {
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    color: #444444;
    background-color: #EBEBEB;
}
.ReportItem, .ReportItem a {
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    height: 20px;
    text-decoration: none;
    padding-left: 6px;
    padding-top: 2px;
    color: #444444;
    display: block;
}
.ReportItemNormal {
    font-size: 11px;
    font-weight: normal;
    padding-right: 5px;
    text-align: right !important;
}
.nav-item a {
    height: 2rem !important;
}
.title {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    vertical-align: middle;
}
.subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    padding-top: 5px;
}
.e-btn.e-icon-btn, .e-css.e-btn.e-icon-btn {
    padding: 2px 4px !important;
}
.e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
    font-size: 12px !important;
}
.e-pager .e-spacing, .e-pager .e-numericitem:hover, .e-pager .e-currentitem {
    padding: 5px 5px 5px 5px !important;
}

.mylabel-left {
    align-items: left !important;
    justify-content: left !important;
}
.e-thumbnail:before {
    content: '\e7b4';
}
.profilWizadrdMenu {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    padding-left: 5px;
}
.profilWizadrdText {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    padding-left: 5px;
}

.e-icons-hcm {
    font-size: 18px;
    font-family: 'e-icons';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.e-hcm-search:before {
    content: '\e724';
    color: #ffffff;
}

.form_name {
    font-size: 12px;
    color: #298083;
    font-weight: bold;
}

.itemDetail {
    font-weight: normal;
    padding-left: 5px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    text-decoration: none;
    font-size: 11px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.itemDetail2 {
    font-weight: bold;
    padding-left: 0px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}


a.btnAddMessage {
    background-repeat: no-repeat;
    background-image: url(/images/copy_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 11px;
}
a.btnAddUser {
    background-repeat: no-repeat;
    background-image: url(/images/user_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 11px;
}
a.btnUpdate {
    background-repeat: no-repeat;
    background-image: url(/images/save_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 11px;
}
a.btnAddAlias {
    background-repeat: no-repeat;
    background-image: url(/images/edit_inline.gif);
    background-position: left;
    text-decoration: none;
    color: #0E3D6B;
    text-align: center;
    padding-left: 15px;
    font-weight: normal;
    height: 16px;
    font-family: Arial, Tahoma,Helvetica, sans-serif;
    font-size: 11px;
}
.bottom_line_bg {
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../images/subMenuBg2.gif);
    padding: 4px 5px 3px 5px;
    height: 25px;
}
.tLabel2 {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
    padding-left: 5px;
    font-weight: bold;
}

.tLabel3 {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 11px;
    color: #444444;
    padding-left: 5px;
    text-align: justify;
}
.e-custom-height {
    height: 150px;
    width: 200px;
}
.e-upload .e-file-select-wrap {
    padding: 0px !important;
}

/****************************************************** 
CHECKBOX LIST VIEW
******************************************************/
.e-listview.e-control {
    width: 100% !important;
}
.e-listview {
    border: 0px !important;
}
    .e-listview .e-list-item {
        height: 26px !important;
        padding: 0px !important;
        font-size: 10px !important;
        border: 0px !important;
    }

/****************************************************** 
NEW USER
******************************************************/
.tLabelDisabled {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #777;
    padding-left: 5px;
}
.tbTitle {
    font-family: Arial,Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 15px;
}

    .tbTitle th {
        padding-left: 5px;
        text-align: left;
        font-weight: bold;
        color: #444444;
        border-width: 1px;
        border-collapse: collapse;
        border-bottom-color: #000;
        border-bottom-style: solid;
        height: 25px;
        background-color: #EBEBEB;
        text-decoration: none;
    }

    .tbTitle td {
        padding-left: 5px;
        color: #000;
        border-width: 1px;
        border-collapse: collapse;
        border-bottom-color: #aaaaaa;
        border-bottom-style: solid;
        height: 20px;
        text-decoration: none;
    }
.tbTitle td.disabledtext {
    padding-left: 5px;
    color: #666;
    border-width: 1px;
    border-collapse: collapse;
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    height: 20px;
    text-decoration: none;
}

.tbTitle th.disabledtext {
    padding-left: 5px;
    color: #777;
    border-width: 1px;
    border-collapse: collapse;
    border-bottom-color: #aaaaaa;
    border-bottom-style: solid;
    height: 20px;
    text-decoration: none;
}

