
@inject IStringLocalizer<App> Localizer


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-secondary bg-secondary border-bottom box-shadow mb-3 fixed-top">
    <div class="container">

        

    </div>
</nav>


@code {  }
