<div class="card">
    <div class="@Style" @onclick="@Toggle">
        @if (Collapsed)
        {
            <i class="fa-solid fa-angles-down mx-1"></i>
        }
        else
        {
            <i class="fa-solid fa-angles-right mx-1"></i>
        }
        @Title
    </div>   
</div>
 
@if (!Collapsed && @ChildContent != null)
{
    <div class="card-body bg-light wraptxt">
        @ChildContent
    </div>
}
 
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Style { get; set; }
 
    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}