<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav flex-grow-1 flex-row-reverse">            
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Logout" >
                     <div class="align-items-center">
                        <i class="fa-solid fa-right-from-bracket"></i> LogOut
                     </div> 
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link">
                    <div class="align-items-center">
                        <i class="fa-solid fa-user"></i> @context.User.Claims.Where(c=>c.Type=="FullName").FirstOrDefault().Value.ToString()
                    </div>                    
                </NavLink>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="nav navbar-nav flex-grow-1 flex-row-reverse">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Login">
                    <div class="align-items-center">
                        <i class="fa-solid fa-right-to-bracket"></i> LogIn
                    </div>
                </NavLink>
            </li>           
        </ul>
    </NotAuthorized>
</AuthorizeView>