@inherits LayoutComponentBase
@using System.Security.Claims
@using System.Globalization

<header>
    <NavMenu />
</header>

<div clas="page">    
    <div class="container-fluid">
        <CascadingValue Value="@CurrentPrincipal" Name="CurrentPrincipal">
            <CascadingValue Value="@CurrentCulture" Name="CurrentCulture">
                @Body
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

<footer class="footer border-top text-muted fixed-bottom bg-light container-fluid">
    <div class="row">
        <div class="col">&copy; @DateTime.Now.Year &nbsp;<a href="https://sapper.de" target="_blank">SAPPER</a></div>
        <div class="col text-right">v @typeof(Program).Assembly.GetName().Version</div>
    </div>
</footer>

@code {

    [Inject] private AuthenticationStateProvider AuthenticationState { get; set; }

    protected ClaimsPrincipal CurrentPrincipal { get; set; }
    protected string CurrentCulture { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthenticationState.GetAuthenticationStateAsync();
        CurrentPrincipal = auth.User;
        CurrentCulture = CultureInfo.CurrentCulture.Name;

        await base.OnInitializedAsync();
    }
}