@inherits LayoutComponentBase


<body>
    @*<NavMenu OnChangeLocationClick=@OnChangeLocationEvent />*@
    <NavMenu  />
    <div class="container">
        @Body
    </div>
</body>

<footer class="border-top footer text-muted fixed-bottom">
    <div class="container mt-0 mb-0">
        &copy; 2010 - Sapper
    </div>
</footer>


@*@code {
    private async Task OnChangeLocationEvent(string location)
    {
        string _location = location;
    }
}*@