@inherits LayoutComponentBase
@using System.Security.Claims
@using System.Globalization

<header>
    <NavMenu />
</header>

<div clas="page">    
    <div class="container-fluid">
        <CascadingValue Value="@CurrentPrincipal" Name="CurrentPrincipal">
            <CascadingValue Value="@CurrentContactId" Name="CurrentContactId">
                @Body
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

<footer class="footer border-top text-muted fixed-bottom bg-light container-fluid">
    <div class="row">
        <div class="col">&copy; @DateTime.Now.Year &nbsp;<a href="https://sapper.de" target="_blank">SAPPER</a></div>
        <div class="col text-right">v @typeof(Program).Assembly.GetName().Version</div>
    </div>
</footer>

@code {

    [Inject] private AuthenticationStateProvider AuthenticationState { get; set; }

    protected ClaimsPrincipal CurrentPrincipal { get; set; }
    protected int CurrentContactId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthenticationState.GetAuthenticationStateAsync();
        CurrentPrincipal = auth.User;
        CurrentContactId = int.TryParse(
                                CurrentPrincipal.Claims.Where(c => c.Type == "ContactID").FirstOrDefault().Value.ToString(),
                                out var tempVal
                            ) ? tempVal : -1;

        await base.OnInitializedAsync();
    }
}