@page "/admin/settings"
@attribute [Authorize(Roles = "admin,settings")]

@using AutoMapper
@using Syncfusion.Blazor.Popups


<h3>@Localizer.Str["Administration_Settings_Title"]</h3>
<div class="blue_bg"></div>

<div class="row">
    <div class="col-md-5 itemDetail">
        <SettingsSMTPPan></SettingsSMTPPan>
    </div>
</div>



@code {
    
    [Inject] private CommonLocalizationService Localizer { get; set; }

}
