@using HCMApi
@using HCM.Pages.cases.DetailPage.HistoryPan
    
<div class="tLabel">@Localizer.Str["Cases_Detail_Label_History"]</div>
<hr class="mb-2"/>

@if (Source?.Count > 0)
{
    @foreach (CaseEvent ce in Source)
    {
        <CaseEventPan Source="@ce"></CaseEventPan>
    }

}


@code {
    
    [Inject] private CommonLocalizationService Localizer { get; set; }

    [Parameter] public List<CaseEvent> Source { get; set; }
    
    
}
