
    
        
    <div class="tLabel">@Localizer.Str["Cases_Detail_Label_AttachInformation"]</div>
    <hr class="mb-2"/>

    <div class="row">
        <div class="col-md-12 itemDetail">@CaseCustomerName</div>
            
        <div class="col-md-12 itemDetail">
            
            <a href="" @onclick="@(() => OnShowMatch.InvokeAsync())" @onclick:preventDefault >
                <i class="fa-solid fa-circle-info"></i> @Localizer.Str["Cases_Detail_Label_MatchXml"]</a>
        </div>
    </div>
    


@code {
    
    [Inject] private CommonLocalizationService Localizer { get; set; }

    [Parameter] public string CaseCustomerName { get; set; }
    [Parameter] public EventCallback OnShowMatch { get; set; }
}
