
.am-dlg-header {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
}

.am-details {    
    font-size: 13px;
    color: #444444;
}
.am-form-label {
    font-weight: bold;
}
.am-form-header {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
}
.am-card-border {
    border-color: gray;
}
.am-card-bg {
    background-color: lightgray;
}